.btn-animado{
  background-color:#8cbc00;
  color:white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-animado:hover{
  transform: scale(1.05);
}

.btn-animado:active{
  transform: scale(0.95);
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.3);
}

footer{
  background-color:#f2f2f2;
  padding:40px 0;
}

.footer-link{
  color:black;
  text-decoration:none;
  margin:5px 0;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-link:hover{
  color:#037BC0;
  transform: translateY(-3px);
}
.INFO-BOX{
  background-color:#037BC0;
}
.TEXT_TITLE{
  color: #037BC0;
}

.text-style{
  font-family: 'Playfair Display', serif;
}